<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<!-- property name="connection.driver_class">org.hsqldb.jdbcDriver</property> 
			<property name="connection.url">jdbc:hsqldb:hsql://localhost</property -->
		<property name="connection.driver_class">org.h2.Driver</property>
		<property name="connection.url">jdbc:h2:memFS:/tmp/foo;MVCC=TRUE</property>
		<property name="connection.username">sa</property>
		<property name="connection.password"></property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.H2Dialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- JDBC connection pool (use the built-in) -->
<!-- 		<property name="connection.pool_size">4</property> -->

		<!-- configuration pool via c3p0-->
		<property name="c3p0.acquire_increment">1</property>
		<property name="c3p0.idle_test_period">3</property> <!-- seconds -->
		<property name="c3p0.min_size">1</property>
		<property name="c3p0.max_size">3</property>
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.timeout">3</property> <!-- seconds -->

		<!-- Enable query and second-level cache -->
		<property name="cache.use_second_level_cache">true</property>
		<property name="cache.use_query_cache">true</property>
		<property name="cache.CacheProvider">org.hibernate.cache.EhCacheProvider</property>
		<property name="cache.region.factory_class">net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory</property>

		<!-- Echo all executed SQL to stdout -->
<!--		<property name="show_sql">true</property>-->

		<!-- Enable JMX monitoring -->
		<property name="generate_statistics">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		<!-- mapping resource="org/hibernate/tutorial/domain/Event.hbm.xml"/ -->
	</session-factory>
</hibernate-configuration>
